body {
    font-family: "Open Sans", sans-serif;
    font-size: 19px;
    background-image: radial-gradient(#212121 20%, transparent 20%),
        radial-gradient(#212121 20%, transparent 20%);
    background-color: #e4e4e4;
    background-position: 0 0, 6px 6px;
    background-size: 12px 12px;
    text-align: center;
  }

button {
    font-size: 23px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }

button:hover {
    background-color: #7afcae;
}
  
button:active {
box-shadow: 0px 0px 0px 0px;
top: 5px;
left: 5px;
}

p {
padding: 10px;
text-align: center;
background-color: #f2f3f4;
border: 3px solid;
text-transform: uppercase;
letter-spacing: 2px;
}

.gameBoard {
    margin: 60px 0 40px 0;
}

.gameBoard button {
    margin: 0 15px;
    padding: 20px 40px;
    font-weight: bold;
}

.selection {
    justify-content: center;
    gap: 60px;
    margin-bottom: 30px;
 
}

.selection p {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 90px;
    font-weight: bold;
    border: thick double;
    box-shadow: 1px 1px 0px 0px

}


.results {
    width: 750px;
    margin: 30px auto;
}

.results button {
    margin:auto;
    font-weight: bold;
}

.scores {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.scores p {
 flex: auto;
}


#finalWinner {
    font-weight: bold;
    background-color: #80f1fd;
}
  

.toggle {
    display: none;
}

.selection.toggle.active {
    display: flex;
}

.toggle.active {
    display: block;
}

